flask
flask-restful
flask_cors
pdf2image
torch
protobuf==3.20.3
torchvision
opencv-python
scikit-image
scipy
gitpython
matplotlib
numpy
pillow==9.0.1
psutil  # system resources
PyYAML
requests
thop  # FLOPs computation
tqdm
faiss-cpu
six
tensorflow
pandas
vietocr
paddleocr
paddlepaddle